@import "../../scss/index.scss";

.podiumCard {
  margin: auto;
  align-items: center;
  text-align: center;
  background-color: $white-color;
  padding: 1.25rem;
  border-radius: 0.63rem;
  width: 15rem;
  height: 15rem;
}

.podiumCardText {
  color: $black-color;
}
