@import "../../scss/index.scss";

.podium {
  list-style-type: none;
  @include for-desktop-up {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.podiumCard {
  margin: 3rem auto;
  text-align: center;
  background-color: $white-color;
  padding: 1.25rem;
  border-radius: 0.63rem;
  @include custom-border($secondary-color);
  width: 14.25rem;

  &:nth-child(2) {
    @include custom-border($silver-color);
  }

  &:last-of-type {
    @include custom-border($bronze-color);
  }

  .podiumCardText {
    padding: 1rem 0;
    color: $black-color;
    font-size: 1.5rem;
  }

  .trophy-img {
    @media (prefers-reduced-motion: no-preference) {
      animation: bounce 4s infinite;
    }
  }
}
