@import "../../scss/index.scss";

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  perspective: 62rem;
  text-shadow: $font-stroke;

  img,
  figcaption {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 1rem;
    border: 0.2rem solid $secondary-color;
  }

  img {
    top: 0;
    left: 0;
    object-fit: cover;
    @media (prefers-reduced-motion: no-preference) {
      transform: rotateY(0deg);
    }
  }

  figcaption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: rgba($black-color, 0.7);
    @media (prefers-reduced-motion: no-preference) {
      transform: rotateY(180deg);
    }
  }
}

.flip-card:hover,
.flip-card:focus-within {
  @media (prefers-reduced-motion: no-preference) {
    transform: rotateY(180deg);
  }
}
