@import "../../scss/index.scss";

.avatarImg {
  margin: 1rem auto;
  display: inherit;
}

.buttonModify {
  @extend .avatarImg;
  border: 0.1rem solid $secondary-color;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  width: 12rem;
}

.scoreContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  li {
    display: flex;
    justify-content: space-between;
    background-color: $white-color;
    border-radius: 0.5rem;
    width: 90vw;
    padding: 0.25rem;
    margin-bottom: 1rem;

    p {
      color: $black-color;
    }
  }
}

@include for-desktop-up {
  .coinContainer {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
}
