@import "../../scss/index.scss";

.avatarImg {
  margin: 1rem auto;
  display: inherit;
}

.buttonModify {
  @extend .avatarImg;
  @include form-button;
  width: 13rem;
  margin: 1rem auto;
}

.bestScore,
.favoriteGame {
  margin: 1rem;
}

.scoreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  li {
    display: block;
    list-style: none;
    border-radius: 0.5rem;
    width: 90vw;
    padding: 0.7rem;
    margin-bottom: 1rem;
    border: 0.2rem outset $secondary-color;

    p {
      color: $black-color;
    }
  }
}

@include for-desktop-up {
  .coinContainer {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
}
