@import "../../scss/index.scss";

.avatarImg {
  margin: 1rem auto;
  display: inherit;
}

.buttonModify {
  @extend .avatarImg;
  border: 0.1rem solid $secondary-color;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  width: 12rem;
}
