@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";
@import "../../scss/index.scss";

.image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.game-image {
  width: 40%;
  min-width: 1rem;
  max-width: 15rem;
  height: auto;
  object-fit: cover;

  img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.3s;
    overflow: hidden;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1.9rem rgba($secondary-color, 0.7);
  }
}

h1 {
  text-align: center;
  margin: 2rem;
  font-size: 1.5rem;
}

section {
  padding: 0 1rem;
}
