@import "../../scss/index.scss";

footer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  padding: 0.7rem 0;
  width: 100%;
  background-color: $black-color;
  margin-bottom: 3.8rem;

  @include for-desktop-up {
    margin: 0;
  }

  .footer-link {
    font-size: 0.9rem;
    font-weight: 600;
    color: $white-color;
    text-decoration: none;
    padding: 0 0.5rem;
    text-align: center;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      border-right: 0.1rem solid $secondary-color;
      height: 80%;
    }

    @include for-desktop-up {
      font-size: 1.1rem;
      padding: 0 2rem;
    }
  }
}
