@import "../../scss/index.scss";

.top-page {
  background-color: $black-color;
  border-bottom: 0.1rem solid $secondary-color;
  box-shadow: 0 0.25rem 0.5rem rgba($secondary-color, 0.5);
  width: 100%;
  height: 3.8rem;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.navigation {
  display: flex;

  ul {
    list-style: none;
    align-self: center;

    @include for-desktop-up {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
    }

    li {
      align-self: center;

      &:nth-child(3) {
        @include for-desktop-up {
          grid-column: 3 / 9;
          text-align: center;
        }
      }
    }
  }
}

.nav-link {
  display: none;

  @include for-desktop-up {
    display: flex;
    color: $white-color;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 1rem;
    transition: all 0.4s ease 0s;

    &.active {
      filter: $secondary-filter;
      color: $secondary-color;
    }

    &:hover {
      transform: translateY(-0.1rem);
      filter: $secondary-filter;
    }
  }
}

.wg-link {
  color: $white-color;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0.15rem 0.15rem $pink-logo;
  font-family: $title-font;
  font-size: 3rem;
  transition: all 0.4s ease 0s;

  &:hover {
    color: $pink-logo;
    text-shadow: -0.15rem -0.15rem 0.5rem rgba($pink-logo, 0.6);
  }
}

.account-link {
  font-size: 0;
  margin-left: 0;
  display: flex;

  @include for-desktop-up {
    margin-top: 0.2rem;
    font-size: 1.5rem;
  }

  &::after {
    content: "";
    @include icon($addUserIcon);
    background-size: contain;
    width: 2rem;
    height: 2rem;
    display: block;
    position: absolute;
    top: 0.9rem;
    right: 0.5rem;

    @include for-desktop-up {
      position: relative;
      top: 0;
      right: 0;
    }
  }

  &.active::after {
    transition: all 0.4s ease;
    filter: $secondary-filter;
  }
}
