@import "../../scss/index.scss";

header {
  height: $header-height;

  // Mobile Styles
  nav {
    background-color: $black-color;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 0.1rem solid $secondary-color;
    padding: 0.6rem 0;
    box-shadow: 0 -0.25rem 0.5rem rgba($secondary-color, 0.5);
    z-index: 2;
    height: $nav-mobile-height;

    ul {
      list-style: none;
      display: flex;

      li {
        flex: 1;

        &:nth-child(1) > a::before {
          @include icon($homeIcon);
        }

        &:nth-child(2) > a::before {
          @include icon($catalogIcon, 1.5rem, 1.5rem);
          padding-bottom: 0.2rem;
        }

        &:nth-child(3) > a::before {
          @include icon($spaceInvadersIcon);
        }

        &:nth-child(4) > a::before {
          @include icon($trophyIcon);
        }

        .nav-link {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: $white-color;
          text-decoration: none;
          font-size: $mobile-content;
          font-family: $content-font;
          font-weight: 600;

          &.active {
            color: $secondary-color;

            &::before {
              @media (prefers-reduced-motion: no-preference) {
                transition: all 0.4s ease;
              }

              filter: $secondary-filter;
            }
          }

          &::before {
            content: "";
            display: block;
            margin-bottom: 0.2rem;

            @include for-desktop-up {
              display: none;
            }
          }
        }
      }
    }
  }
}

// Desktop Styles
@include for-desktop-up {
  header {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 6fr 1.5fr 1.5fr;
    grid-template-areas: "home catalog demo wildygamy reward account";
    background-color: $black-color;
    border-bottom: 0.1rem solid $secondary-color;
    box-shadow: 0 0.25rem 0.5rem rgba($secondary-color, 0.5);
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    nav {
      position: static;
      background-color: transparent;
      border: none;
      box-shadow: none;
      display: flex;
      align-items: center;
      justify-self: start;
      display: contents;

      ul {
        display: contents;

        li {
          display: contents;

          .nav-link {
            margin: 0;
            padding: 0;
            justify-self: start;
            align-self: center;
            margin: 0.4rem;
            min-width: 5rem;
            font-size: $desktop-content;
            &.active {
              @media (prefers-reduced-motion: no-preference) {
                transition: all 0.4s ease;
              }

              filter: $secondary-filter;
            }
          }

          .reward {
            grid-area: reward;
            justify-self: end;
          }

          .account-link {
            grid-area: account;
          }
        }
      }
    }
  }
}

// Specific styles
.home,
.catalog,
.demo {
  margin-left: 0.7rem;
}

.catalog {
  padding-top: 0.1rem;
}

.reward {
  margin-right: 1rem;
}

.wg-written {
  color: $white-color;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0.15rem 0.15rem $pink-logo;
  font-family: $title-font;
  font-size: clamp(2.7rem, 4vw, 3.2rem);
  background-color: $black-color;
  border-bottom: 0.1rem solid $secondary-color;
  box-shadow: 0 0.25rem 0.5rem rgba($secondary-color, 0.5);
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (prefers-reduced-motion: no-preference) {
    transition: all 0.4s ease 0s;
  }

  &:hover {
    color: $pink-logo;
    text-shadow: -0.15rem -0.15rem 0.5rem rgba($pink-logo, 0.6);
  }

  @include for-desktop-up {
    position: static;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
}

.account-link {
  font-size: 0;

  @include for-desktop-up {
    display: flex;
    align-items: center;
    justify-self: end;
    color: $white-color;
    text-decoration: none;
    font-size: $desktop-content;
    font-family: $content-font;
    font-weight: 500;

    @media (prefers-reduced-motion: no-preference) {
      transition: all 0.4s ease;
    }

    &.active {
      filter: $secondary-filter;

      &::before {
        @media (prefers-reduced-motion: no-preference) {
          transition: all 0.4s ease;
        }

        filter: $secondary-filter;
      }
    }
  }

  &::after {
    content: "";
    @include icon($addUserIcon);
    background-size: contain;
    width: 2rem;
    height: 2rem;
    display: block;
    position: absolute;
    top: 0.9rem;
    right: 0.5rem;

    @include for-desktop-up {
      position: relative;
      top: 0;
      right: 0;
    }
  }

  &.active::after {
    @media (prefers-reduced-motion: no-preference) {
      transition: all 0.4s ease;
    }

    filter: $secondary-filter;
  }
}
