@import "../../scss/index.scss";

.top-page {
  background-color: $black-color;
  border-bottom: 0.1rem solid $secondary-color;
  box-shadow: 0 0.25rem 0.5rem rgba($secondary-color, 0.5);
  font-family: $content-font;
  width: 100%;
  height: 3.8rem;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  align-items: center;

  @include for-desktop-up {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-self: center;
  }
}

.nav-link {
  display: none;

  @include for-desktop-up {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white-color;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 1rem;
    transition: all 0.3s ease 0s;

    &.active {
      color: $secondary-color;
    }

    &:hover {
      transform: translateY(-0.1rem);
      color: $secondary-color;
      filter: $secondary-filter;
    }
  }
}

@include for-desktop-up {
  .nav-link:nth-child(n + 2) {
    justify-self: start;
  }

  .nav-link:nth-last-child(-n + 2) {
    justify-self: end;
  }
}

.wg-written {
  color: $white-color;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0.15rem 0.15rem $pink-logo;
  font-family: $title-font;
  font-size: 3rem;
  transition: all 1s ease 0s;

  &:hover {
    color: $pink-logo;
    text-shadow: -0.15rem -0.15rem 0.5rem rgba($pink-logo, 0.6);
  }

  @include for-desktop-up {
    grid-column: 3 / 9;
  }
}

.account-link {
  display: flex;
  font-size: 0.01rem;
  color: $black-color;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.9rem 0.8rem;

  .account-icon {
    width: 2rem;

    &.active {
      filter: $secondary-filter;
      transition: all 0.4s ease 0s;
    }
  }

  @include for-desktop-up {
    position: relative;
    color: $white-color;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0;
  }
}
