@import "../scss/index.scss";
@import "../scss/mixins.scss";

img {
  display: block;
  margin: auto;
  width: calc(100% - 1rem);

  @include for-desktop-up {
    width: calc(35% - 1rem);
  }
}

h1 {
  font-family: $title-font;
  text-align: center;
  color: $white-color;
}

p {
  font-family: $title-font;
  text-align: center;
  color: $white-color;
}
