@import "../../scss/index.scss";

.logo-about-wg {
  width: 100%;
  max-height: 33rem;
  display: block;
  margin: 1rem auto;
  position: relative;
}

.scrolling-text {
  position: absolute;
  width: 8rem;
  height: 8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  text-align: center;
  // margin: 0;
  overflow: auto;
  // animation: scroll-text 10s linear infinite;
  // z-index: 3;
}

@keyframes scroll-text {
  0% {
    transform: translate(-50%, 100%);
  }
  100% {
    transform: translate(-50%, -100%);
  }
}
