@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.navbar-bottom {
  background-color: $black-color;
  position: fixed;
  width: 100%;
  height: 3.8rem;
  bottom: 0;
  border-top: 0.1rem solid $secondary-color;
  padding-top: 0.4rem;
  box-shadow: 0 -0.25rem 0.5rem rgba($secondary-color, 0.5);

  @include for-desktop-up {
    display: none;
  }
}

.navbar-list {
  list-style: none;
  display: flex;
  width: 100%;
}

.navbar-item {
  flex: 1;
  text-align: center;
}

.navbar-link {
  display: flex;
  flex-direction: column;
  color: $white-color;
  text-decoration: none;
  font-size: 0.9rem;
  font-family: $content-font;
  font-weight: 600;
  width: 100%;
  height: 100%;
}

.navbar-link::before {
  content: "";
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  margin: auto;
  margin-bottom: 0.2rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.home::before {
  background-image: url("@harmonia/server/public/assets/images/icon/icons8-home.png");
}

.catalog::before {
  background-image: url("@harmonia/server/public/assets/images/icon/icons8-catalog.png");
  width: 1.5rem;
  height: 1.5rem;
  padding-top: 0.2rem;
}

.demo::before {
  background-image: url("@harmonia/server/public/assets/images/icon/icons8-space-invaders.png");
}

.reward::before {
  background-image: url("@harmonia/server/public/assets/images/icon/icons8-trophy.png");
}
