$assetPath: "../../assets/images";

$homeIcon: "#{$assetPath}/icon/icons8-home.png";
$catalogIcon: "#{$assetPath}/icon/icons8-catalog.png";
$spaceInvadersIcon: "#{$assetPath}/icon/icons8-space-invaders.png";
$trophyIcon: "#{$assetPath}/icon/icons8-trophy.png";
$addUserIcon: "#{$assetPath}/icon/icons8-add-user.png";
$handCursorIcon: "#{$assetPath}/icon/hand-cursor.png";
