@import "./variables";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $content-font;
  background-color: $primary-color;
  color: $white-color;
}

h1 {
  font-family: $title-font;
  text-align: center;
  color: $white-color;
}
