@import "./variables";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $content-font;
  background-color: $primary-color;
  color: $white-color;
}

h1 {
  font-family: $title-font;
  text-align: center;
  color: $white-color;
  font-weight: 400;
  margin: 1.5rem;
  font-size: 1.5rem;
}

h2 {
  @extend h1;
  font-size: clamp(1.2rem, 4vw, 2.4rem);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary-color;
  border-radius: 0.5rem;
  overflow-x: none;
}
