@import "./fonts";
@import "./variables";
@import "./mixins";
@import "./image-paths.scss";

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $content-font;
  background-color: $primary-color;
  color: $white-color;
  padding-bottom: $nav-mobile-height;

  @include for-desktop-up {
    padding-top: $header-height;
    padding-bottom: 0;
  }
}

h1 {
  @include clamp-title;
  font-family: $title-font;
  text-align: center;
  color: $white-color;
  font-weight: 400;
  margin: 1rem;
  text-shadow: $font-stroke;

  @include for-desktop-up {
    margin: 2rem;
  }
}

h2 {
  @extend h1;
}

p {
  @include clamp-content;
  font-family: $content-font;
  font-weight: 400;
  text-align: left;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary-color;
  border-radius: 0.5rem;
  overflow-x: none;
}
