@mixin for-desktop-up {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin icon($icon-url, $width: 1.8rem, $height: 1.8rem) {
  background-image: url($icon-url);
  width: $width;
  height: $height;
  background-repeat: no-repeat;
  background-size: contain;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20%);
  }
}

@mixin custom-border($border-color, $box-shadow) {
  border-style: solid;
  border-color: $border-color;
  box-shadow: $box-shadow;
}
